body {
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, h4, h5, h6, strong  {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
   border-bottom: 2px solid lightslategray ;
}

hr {
    border: 1px dotted lightslategray;
    width: 50%;
}

p {
    color: darkslategray;
    font-family: Georgia, serif;
}